<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    </head>
    <body>
    <div th:fragment="copy">
        <div class="left_col scroll-view" >
            <div class="navbar nav_title" style="border: 0;">
                <a href="＃" class="site_title"><i class="fa fa-paw"></i> <span>在线医疗系统</span></a>
            </div>

            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile clearfix">
                <div class="profile_pic">
                    <img src="/img/医生头像.jpg" alt="..." class="img-circle profile_img">
                </div>
                <div class="profile_info">
                    <span>欢迎您,</span>
                    <h2>医生</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->
            <br />
            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <ul class="nav side-menu">
                        <li><a href="/photo"><i class="fa fa-photo"></i>全部照片</a>
                        </li>
                        <li><a href="/noreplyphoto"><i class="fa fa-comment-o"></i>未分类照片</span></a>
                        </li>
                        <li><a href="/repliedphoto"><i class="fa fa-comments-o"></i>已分类照片</a>
                        </li>
                        <li><a href="/classified"><i class="fa fa-tags"></i>照片分类查看</a>
                        </li>
                        <li><a href="/classManagement"><i class="fa fa-edit"></i>舌苔分类管理</a>
                        </li>
                        <li><a href="/application"><i class="fa fa-envelope-o"></i>申请管理</a>
                        </li>
                        <li><a href="/notice"><i class="fa fa-newspaper-o"></i>发布通知</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /sidebar menu -->
        </div>
    </div>


    </body>
</html>
